VITE_APPWRITE_URL='https://fra.cloud.appwrite.io/v1'
VITE_APPWRITE_PROJECT_ID='684f184e002740f01f28'
VITE_APPWRITE_DATABASE_ID='684f193b0011b96de587'
VITE_APPWRITE_COLLECTION_ID='684f196100283b6af6b3'
VITE_APPWRITE_BUCKET_ID='684f1b02000ec2000a30'
